form {
	input, textarea, button {
		border: none;
		padding: 5px;
		box-sizing: border-box;
	}

	input, textarea {
		border-left: 3px black solid;
	}
}

.profile {
	margin: 0 auto;
	text-align: center;

	img {
		width: 20px;
		height: 20px;
	}

	div {
		position: relative;
		padding-left: 25px;

		img {
			position: absolute;
			left: 0;
			top: 10px;
		}
	}
}

.floatlabel {
	position: relative;

	label {
		position: absolute;
		font-size: 11px;
		transition: margin-left 0.5s, color 0.5s;

		&:not(.visible) {
			color: transparent;
			margin-left: -5px;
		}

		&.visible {
			margin-left: 5px;
		}
	}

	input {
		margin-top: 12px;
	}
}