/* this file is preprocessed and automatically prefixed, the real source code is located at profile.css */
body {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
}

form input, form textarea, form button {
  border: none;
  padding: 5px;
  box-sizing: border-box; }
form input, form textarea {
  border-left: 3px black solid; }

.profile {
  margin: 0 auto;
  width: 200px; 
  text-align: center; }
  .profile img {
    width: 20px;
    height: 20px; }
  .profile div {
    position: relative;
    padding-left: 25px; }
    .profile div img {
      position: absolute;
      left: 0;
      top: 10px; }

.floatlabel {
  position: relative; }
  .floatlabel label {
    position: absolute;
    font-size: 11px;
    -webkit-transition: margin-left 0.5s, color 0.5s;
            transition: margin-left 0.5s, color 0.5s; }
    .floatlabel label:not(.visible) {
      color: transparent;
      margin-left: -5px; }
    .floatlabel label.visible {
      margin-left: 5px; }
  .floatlabel input {
    margin-top: 12px; }
