/* this file is preprocessed and automatically prefixed, the real source code is located at profile.css */
body {
  margin: 0;
  font-family: sans-serif; }

a {
  text-decoration: none;
  color: black; }

form input, form textarea, form button {
  border: none; }
form button {
  padding: 15px; }
form input, form textarea {
  border: 1px #dddddd solid;
  padding: 8px; }

.profile {
  margin: 0 auto;
  text-align: center;
  width: 210px; }
  .profile img {
    width: 20px;
    height: 20px; }
  .profile div {
    position: relative;
    padding-left: 25px; }
    .profile div img {
      position: absolute;
      left: 0;
      top: 20px; }
  .profile .confirm, .profile .cancel {
    margin-top: 20px; }
  .profile .confirm {
    margin-left: 40px; }

.floatlabel {
  position: relative; }
  .floatlabel label {
    position: absolute;
    font-size: 11px;
    -webkit-transition: margin-left 0.5s, color 0.5s;
            transition: margin-left 0.5s, color 0.5s;
    top: 6px; }
    .floatlabel label:not(.visible) {
      color: transparent;
      margin-left: -5px; }
    .floatlabel label.visible {
      margin-left: 5px; }
  .floatlabel input {
    margin-top: 20px; }
