body {
 	font-family: sans-serif;
 	font-size: 4em;
 	width: 100%;
 	margin: 0;
}

header {
	width: 100%;
	text-align: center;
	border-bottom: solid 2px #282828;
}

.home {
	height: 30px;
	width: 30px;
	background: grey;
	position: fixed;
	top: 4%;
	left: 8%;
}

nav ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

.nav {
	text-align: center;
	padding: 0;
	margin: 20px 0;
	list-style: none;
}

a {
	text-decoration: none;
	color: #282828;
}

nav ul a {
	border-bottom: solid 2px #282828;
	padding: 30px;
	box-sizing: border-box;
	display: inline-block;
	width: 100%;
	font-variant: small-caps;
}

