body {
 	font-family: sans-serif;
 	width: 100%;
 	margin: 0;
}

header {
	width: 100%;
	text-align: center;
	background: #b7b7b7;
	border-bottom: solid 1px #282828;
}

header h1 {
	margin: 0;
	padding: 20px;
}

.home {
	height: 40px;
	width: 40px;
	background: grey;
	position: fixed;
	top: 15px;
	left: 20px;
}

nav ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

.nav {
	padding: 0;
	list-style: none;
}

a {
	text-decoration: none;
	color: #282828;
}

nav ul a {
	padding: 20px;
	box-sizing: border-box;
	display: inline-block;
	width: 100%;
	font-variant: small-caps;
}

nav ul li {
	border-bottom: solid 1px #282828;
}