body {
	font-family: sans-serif;
	margin: 0;
	padding: o;
}

ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

h1 {
	margin: 0;
}

a {
	text-decoration: none;
	color: #b7b7b7;
	font-size: 14px;
}

.head {
	text-align: center;
	font-size: 16px;
	padding-top: 15px;
}

header  {
	background-color: #DDD;
	height: 50px;
	width: 100%;S
}

.nav {
	text-align: left;
	padding: 0;
	margin: 0;
	list-style: none;
}

.section__nav {
	position: fixed;
	width: 90%;
	height: 100%;
	top: 0;
	left: 0;
	background-color: #DDD;
	z-index: 10;

	-webkit-transform: translateX(-100%);
}

.section__nav.nav--transition {
	transition: all 300ms ease-out;
}

.section__nav.nav--open {
	-webkit-transform: translateX(0);
}

.nav__el {
	display: block;
}

.nav__el > a {
	display: block;
	padding: 10px 15px;
	background-color: #DDD;
	color: #757575;
	text-decoration: none;
}

.btn--home {
		position: absolute;
		right: -50px;
		width: 50px;
		height: 50px;
		padding: 5px;
		background-color: #DDD;
		border: none;
	}

.article__fact {
	padding: 20px 0;
	border-bottom: solid 1px #b7b7b7;

	/*-webkit-transform: translateX(100%);*/

	-webkit-overflow-scrolling: touch;

	position: relative;
}

.article__fact .options {
	position: absolute;
	top: 0;
	left: 0;

	height: 100%;
	width: 100%;

	z-index: 2;
	background: grey;

	text-align: center;
	line-height: ;
}

.btn--share {
	border: none;

	position: absolute;
	top: 50%;
	left: 50%;
}

.section:target {
	-webkit-transform: translateX(0);
}

.section:first-of-type {
	-webkit-transform: translateX(0);
}

.fact {
	width: 80%;
	margin: 0 auto;
}

.article__fact ul {
	width: 80%;
	margin: 0 auto;	
}

.article__fact ul li {
	display: inline-block;
}
